@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    .nav-style{
        @apply text-lg/[1.5rem]  py-[6px] bg-white border-0 shadow-lg hover:px-8 transition-all duration-300
    }
    .btn-category{
        @apply nav-style bg-blue-950 text-white font-source-sans font-semibold rounded-xl px-4 mr-4 my-2;
    }
    .category-section{
        @apply w-1/4 bg-white max-h-[45rem] rounded-lg flex flex-col justify-between
    }
    .category-name{
        @apply  font-source-sans font-semibold text-xl 
    }
    .font-aw-trash{
        @apply 
    }
    .task-con{
       @apply  flex items-center justify-between my-4 border-2 border-gray-300 py-2 px-4 mx-4 rounded-lg break-words
    }
    .task-content{
        @apply  text-base font-poppin font-semibold
    }
    .task-edit{
        @apply flex items-center gap-3 
    }
    .add-task-con{
        @apply flex gap-4 bg-white rounded-lg items-center font-source-sans font-semibold border-2 border-gray-300 py-2 pl-3 mx-4 my-4
    }
    .task-input{
        @apply placeholder:text-gray-300 focus:outline-none
    }
    .add-new-section{
        @apply flex gap-4 bg-white rounded-lg items-center w-1/4 h-full pl-3 py-4 font-source-sans font-semibold opacity-50
    }
}
@layer utilities{
    body{
        height:100vh;
        background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    }
    .btn-category:hover .category-dropdown{
        display:flex;
    }
    .category-dropdown a:hover{
        color:blue;
    }
    .btn{
        width:50px;
        height:50px;
        background-color:red;
    }
}